.user-buttons{
    display: flex;
    justify-content: space-between;
}
.main-container{
    display: flex;
    justify-content: space-around
}

button{
    margin: 20px;
}

#player{
    margin:10px;
}

#dealer{
    margin:10px;
}